[submodule "extern/benchmark"]
	path = extern/benchmark
	url = git@github.com:google/benchmark.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
